{% extends "base.html" %}

{% block header_title %}Bienvenidos | {{ block.super}} {% endblock %}

{% block jumbotron %}
<div class="jumbotron">
    <h1>{{ el_titulo }}</h1>
    <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
    <a class="btn btn-lg btn-primary" href="/docs/4.3/components/navbar/" role="button">View navbar docs &raquo;</a>
</div>
{% endblock %}

{% block content %}
<form method="POST" action="">{% csrf_token %}
    {{ el_form.as_p }}
    <input type="submit" value="registrame">
</form>
{% endblock %}
