<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><i class="fab fa-python"></i> Probar DJANGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item"> <!-- ruta obtenida por el nombre -->
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item"> <!-- ruta escrita a fuego -->
            <a class="nav-link" href="/contacto">Contact</a>
        </li>
      </ul>

      {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
      <form class='form-row' method='POST' action='{% url "auth_login" %}'>{% csrf_token %}
          <div class="col">
              <input type='text' class='form-control' name='username' placeholder='Usuario' />
          </div>
          <div class="col">
              <input type='password' class='form-control' name='password' placeholder='Clave' />
          </div>
          <div class="col">
              <button type='submit' class='btn btn-outline-info'>Entrar</button>
          </div>
      </form>
      {% endif %}

      <ul class="nav navbar-nav navbar-right mx-3">
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'auth_logout' %}">Salir</a></li>
          {% else %}
          <li><a href="{% url 'registration_register' %}"> Registrarte </a></li>
          {% endif %}
        </ul>

    </div>
  </nav>